<div class="home__container">
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
  gameLabel="Digital"
  gameType="DISC | PS5"
  gamePrice="R$ 269,99"></app-card>
</div>

<p>home works!</p>
